body
{
	--main-text-color: #333;
	--lightest-grey: #ddd;
	--green: #45bf2a;
	--light-green: #c9dec3;			/*#b8dead;*/

	text-align: center;
	color: var(--main-text-color);
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding-top: 0px;
	margin-top: 0px;
}

header
{
	background-color: var(--main-text-color);
	padding: 3px;
	margin-bottom: 3px;
}

h1, header span
{
	display: inline;
	color: var(--green);
}

h3
{
	color: var(--main-text-color);
}

a
{
	text-decoration: none;
	color: var(--main-text-color);
}

a:hover
{
	text-decoration: underline;
}

main
{
	display: grid;
}

.story-info
{
	grid-column-start: 1;
	border: 2px solid var(--main-text-color);
	padding: 15px;
	padding-top: 0px;
	margin-bottom: 3px; 
	margin-top: 0px;
	width: 400px;
}

.story-info:hover
{
	background-color: var(--light-green);
	cursor: pointer;
}

.active
{
	background-color: var(--light-green)
}

.story-info h3
{
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.story-info span
{
	margin-top: 0px;
	font-size: 0.8em;
	color: #555; /*#828282;*/
}

.story-info button
{
	margin: 4px;
	margin-top: 20px;
	background-color: hsla(0, 0%, 0%, 0);
	border: 1px solid var(--main-text-color);
	padding: 3px;
	font-size: 0.75em;

}

.story-info button a
{
	text-decoration: none;
}

.story-info button a:hover
{
	font-weight: normal;
}

.story-content
{
	grid-column-start: 2;
	margin-left: 5px;
	margin-bottom: 3px;
	padding: 10px;
	width: 961px;				/*Cori, this is not a permanent solution*/
	border: 2px solid var(--main-text-color);
}

.story-content .story-text
{
	margin-top: 30px;
	margin-bottom: 60px;
}

.comments h2
{
	margin-bottom: -5px;
}

.comment 
{
	text-align: left;
	margin-top: 20px;
}

.comment h4
{
	margin: 5px 0px;
}

.comment-body
{
	margin-left: 10px;
}

footer
{
	height: 50px;
}

footer hr
{
	width: 50%;
	margin-top: 30px;
}

footer a 
{
	text-decoration: underline;
}
