* { box-sizing: border-box; }
body {
	text-align: center;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #ddd;
	margin: 0px;
}

div#container {
	margin: 0px auto;
	max-width: 1500px;
	background-color: white;
}

.loading-spinner {
	width: 50px;
}

::-webkit-scrollbar-track {
/*	border-radius: 10px;*/
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	/*background-color: #f5f5f5;*/
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}

header {
	background-color: #333;
	margin-bottom: 1px;
	padding: 3px;

}

h1, header span {
	display: inline;
	color: #45bf2a;
	font-weight: normal;
}

h1 { font-size: 1.5em; }

h3 {
	color: #333;
}

h2 {
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: row;
	padding-left: 1px;
	padding-right: 1px;
}

main::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
} 

.stories {
	overflow-y: scroll;
	width: 27%;
	min-width: 400px;		/*Need to change this for different screen sizes*/
	max-width: 400px;
	padding-right: 1px;
}

.story-info {
	border: 2px solid #333;
	padding: 15px;
	padding-top: 0px;
	margin-bottom: 3px; 
	margin-top: 0px;
	background-color: #e6e6e6;
}

.story-info:hover {
	background-color: white;
	cursor: pointer;
}

.active {
	background-color: #c9dec3;
}

.active:hover {
	background-color: #c9dec3;
}

.story-info h3 {
	padding-bottom: 0px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

.story-info span {
	margin-top: 0px;
	font-size: 0.8em;
	color: #454545;
}

.story-content {
	box-sizing: border-box;
	/*border: 2px solid #333;*/
	margin-left: 5px;
	margin-bottom: 3px;
	padding: 10px;
	width: 71%;	
	height: 93vh;
	flex-grow: 2;
	overflow-y: scroll;
}

.story-content .story-text {
	margin-top: 30px;
	margin-bottom: 60px;
}

.comments h2 {
	margin-bottom: -5px;
}

.comment {
	text-align: left;
	margin-top: 20px;
}

.comment h4 {
	margin: 5px 0px;
}

.comment h4 span {
	font-weight: normal;
	font-size: 0.8em;
	color: #454545;
}

.comment .arrow {
	font-size: 12px;
	color: #555;
}

.comment-body {
	margin-left: 15px;
	border-left: 4px dashed #c9dec3;
	/*border-top: 3px dashed #c9dec3;*/
	padding-left: 10px;
	/*padding-top: 10px;*/
	margin-top: 8px;
}

footer {
	background-color: #333;
	color: #45bf2a;
	margin: 0px;
	padding: 20px;
}

footer a {
	color: #45bf2a;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}