body
{
	text-align: center;
}

h1
{
	display: inline;
}

h3
{
	color: #FF6600;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
}

main
{
	display: flex;
	flex-direction: row;
}

.story-info
{
	border: 2px solid grey;
	padding: 10px;
	padding-top: 0px;
	margin: 3px; 
	width: 300px;
}

.story-content
{
	flex-grow: 1;
	height: 700px;
	display: flex;
	flex-direction: column;
}

.story-content iframe
{
	flex-grow: 1;
}

footer
{
	height: 50px;
}