.story-content {
    font-size: 0.9em;
	box-sizing: border-box;
	margin-left: 5px;
	margin-bottom: 3px;
	padding: 10px;
    width: 71%;
    transition: width 250ms, padding 250ms, margin 250ms;
    transition-timing-function: ease-in-out;
    overflow-y: scroll;
    p.no-comments { text-align: center; }
}
.story-content.display-none {
    width: 0px;
    margin: 0px;
    padding: 0px;
}

.story-content .story-text {
	margin-top: 30px;
	margin-bottom: 60px;
}

.comments h2 {
	margin-bottom: -5px;
}