.story-info {
    border: 2px solid #333;
    padding: 15px;
    margin: 3px;
    width: 100%;
    flex-grow: 1;
    background-color: #e6e6e6;
    transition: background-color 100ms;
    transition-timing-function: ease-out;

    h3 {
        padding-bottom: 0px;
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 1.1em;
    }
    
    span {
        margin-top: 0px;
        font-size: 0.8em;
        color: #454545;
    }

    &.loading {
        padding: 0px;
        &:hover { cursor: default; }

        @keyframes placeHolderShimmer {
            0% { background-position: 100%; }
            100% { background-position: -100%; }
        }

        .loading-block {
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: linear-gradient(to right, #c9dec394, #e6e6e6, #c9dec394);
            background-size: 200% 100%;
            height: 85px;
        }
    }

    &:hover {
        background-color: #c9dec3;
        cursor: pointer;
    }

    &.active { background-color: #c9dec3; }
    
}