$purple:        hsl(267, 65%, 75%);
$purple-bright: hsl(267, 100%, 75%);
$orange:        hsl(26, 80%, 67%);
$orange-bright: hsl(26, 100%, 67%);
$blue:          hsl(228, 65%, 70%);
$blue-bright:   hsl(228, 100%, 70%);
$yellow:        hsl(58, 75%, 65%);
$yellow-bright: hsl(58, 95%, 65%);
$red:           hsl(1, 75%, 75%);
$red-bright:    hsl(1, 100%, 75%);
$green:         hsl(120, 55%, 55%);
$green-bright:  hsl(120, 70%, 55%);

.fish-tank {
    display: flex;
    pointer-events: none;
    position: absolute;
    width: fit-content;
    padding: 8px;
    will-change: translate, rotate;
    z-index: 10;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;

    &.invisible { opacity: 0; }
    &.dragging {
        z-index: 1000;

        .fish {
            cursor: grabbing;

            .fish-body, .fish-tail {
                animation-duration: 175ms;
            }

            .story-info, .story-info * {
                cursor: grabbing;
            }
        }
    }

    &.active {
        z-index: 500;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        -webkit-user-select: unset; /* Safari */
        -ms-user-select: unset; /* IE 10 and IE 11 */
        user-select: unset; /* Standard syntax */
        touch-action: unset;
        // .fish .fish-tail, .fish .fish-body {
        //     animation: none;
        // }
        .fish:hover { cursor: pointer; }
        .fish .fish-tail { animation-name: tail-float; }
        .fish .fish-body { animation-name: body-float; }
    }

    &.active, &:hover {
        .fish {
            .fish-body {
                &.purple { background-color: $purple-bright; }
                &.orange { background-color: $orange-bright; }
                &.blue { background-color: $blue-bright; }
                &.yellow { background-color: $yellow-bright; }
                &.red { background-color: $red-bright; }
                &.green { background-color: $green-bright; }
            }

            .fish-tail {
                &.purple { border-right-color: $purple-bright }
                &.orange { border-right-color: $orange-bright }
                &.blue { border-right-color: $blue-bright }
                &.yellow { border-right-color: $yellow-bright }
                &.red { border-right-color: $red-bright }
                &.green { border-right-color: $green-bright }
            }
        }
    }

    .fish {
        position: relative;
        pointer-events: auto;
        height: fit-content;
        display: flex;
        align-items: center;
        &:hover { cursor: grab; }

        .fish-body {
            z-index: 1;
            border-radius: 100%;
            transition: background-color 100ms, filter 100ms;
            padding: 2rem;
            flex-grow: 0;
            // width: unset;
            text-align: center;
            border: none;
            margin: 0px;
            width: 250px;

            // will-change: transform, background-color;

            transform-origin: center right;
            animation: 1200ms ease-in-out 0s infinite alternate body-swim;
            @keyframes body-swim {
                from { transform: rotate(2deg) perspective(20cm) rotateY(-2deg); }
                to { transform: rotate(-2deg) perspective(20cm) rotateY(2deg); }
            }
            @keyframes body-float {
                from { transform: rotate(1deg) perspective(20cm) rotateY(-0deg); }
                to { transform: rotate(-1deg) perspective(20cm) rotateY(0deg); }
            }

            &.purple { background-color: $purple }
            &.orange { background-color: $orange }
            &.blue { background-color: $blue }
            &.yellow { background-color: $yellow }
            &.red { background-color: $red }
            &.green { background-color: $green }

            .story-info {
                background-color: unset;
                border: none;
                padding: 0px;
            }
        }

        .fish-tail {
            content: "";
            position: relative;
            height: 0px;
            width: 0px;
            border-style: solid solid solid none;
            border-color: transparent;
            border-radius: 8px;
            transition: border-right-color 100ms;
            transform-origin: center left;
            // animation: 1200ms ease-in-out 0s infinite alternate swim;
            // @keyframes swim {
            //     from { transform: perspective(20cm) rotateY(-20deg); }
            //     to { transform: perspective(20cm) rotateY(20deg); }
            // }
            animation: 1200ms ease-in-out 0s infinite alternate tail-swim;
            @keyframes tail-swim {
                from { transform: rotate(-2deg) perspective(20cm) rotateY(20deg); }
                to { transform: rotate(2deg) perspective(20cm) rotateY(-20deg); }
            }
            @keyframes tail-float {
                from { transform: rotate(-1deg) perspective(20cm) rotateY(0deg); }
                to { transform: rotate(1deg) perspective(20cm) rotateY(-0deg); }
            }

            &.purple { border-right-color: $purple }
            &.orange { border-right-color: $orange }
            &.blue { border-right-color: $blue }
            &.yellow { border-right-color: $yellow }
            &.red { border-right-color: $red }
            &.green { border-right-color: $green }
        }
    }

    .story-content {
        background-color: #d1e4f0;
        position: relative;
        flex-grow: 1;
        min-width: 775px;
        max-width: 950px;
        margin-left: 8px;
        pointer-events: auto;
        padding: 16px;

        h2 { margin-top: 0px; }

        transform-origin: 0 0;
        transform: scale(1, 1);
        opacity: 1;
        transition: transform 300ms, opacity 300ms;
        &.invisible {
            transform: scale(1, 0);
            opacity: 0;
        }

        &.purple .comment-body { border-left-color: $purple-bright }
        &.orange .comment-body { border-left-color: $orange-bright }
        &.blue .comment-body { border-left-color: $blue-bright }
        &.yellow .comment-body { border-left-color: $yellow-bright }
        &.red .comment-body { border-left-color: $red-bright }
        &.green .comment-body { border-left-color: $green-bright }

        &.purple .loading-spinner { color: $purple-bright }
        &.orange .loading-spinner { color: $orange-bright }
        &.blue .loading-spinner { color: $blue-bright }
        &.yellow .loading-spinner { color: $yellow-bright }
        &.red .loading-spinner { color: $red-bright }
        &.green .loading-spinner { color: $green-bright }
    }
}

@media(max-width: 1180px) {
    .fish-tank.active {
        flex-direction: column;
        min-width: 355px;
        align-items: center;

        .story-content {
            flex-grow: 1;
            width: 100%;
            min-width: unset;
            margin: 0px;
            margin-top: 8px;
        }
    }
}
