.fish-tank {
    display: flex;
    pointer-events: none;
    position: absolute;
    width: fit-content;
    padding: 8px;
    will-change: translate, rotate;
    z-index: 10;
    // will-change: transform;

    &.invisible {
        opacity: 0;
    }
    &.dragging {
        z-index: 1000;
        .fish .story-info, .fish .fish-tail {
            animation-duration: 200ms;
        }
    }

    &.active {
        z-index: 500;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        .fish .fish-tail, .fish .story-info {
            animation: none;
        }
    }

    &.active, &:hover {
        .fish {
            .story-info {
                &.purple { background-color: hsl(267, 100%, 75%); }
                &.orange { background-color: hsl(30, 100%, 65%); }
                &.blue { background-color: hsl(218, 100%, 63%); }
                &.yellow { background-color: hsl(54, 100%, 60%); }
                &.red { background-color: hsl(1, 100%, 75%); }
            }

            .fish-tail {
                &.purple { border-right-color: hsl(267, 100%, 75%); }
                &.orange { border-right-color: hsl(30, 100%, 65%); }
                &.blue { border-right-color: hsl(218, 100%, 63%); }
                &.yellow { border-right-color: hsl(54, 100%, 60%); }
                &.red { border-right-color: hsl(1, 100%, 75%); }
            }
        }
    }

    .fish {
        position: relative;
        pointer-events: auto;
        height: fit-content;
        display: flex;
        align-items: center;

        .story-info {
            border-radius: 100%;
            transition: background-color 100ms, filter 100ms;
            padding: 10%;
            flex-grow: 0;
            width: unset;
            text-align: center;
            border: none;
            margin: 0px;
            width: 300px;

            transform-origin: center right;
            animation: 1200ms ease-in-out 0s infinite alternate body-swim;
            @keyframes body-swim {
                from { transform: rotate(2deg) perspective(20cm) rotateY(-2deg); }
                to { transform: rotate(-2deg) perspective(20cm) rotateY(2deg); }
            }

            &.purple { background-color: hsl(277, 38%, 79%); }
            &.orange { background-color: hsl(30, 72%, 65%); }
            &.blue { background-color: hsl(218, 53%, 63%); }
            &.yellow { background-color: hsl(54, 75%, 60%); }
            &.red { background-color: hsl(1, 75%, 75%); }
        }

        .fish-tail {
            content: "";
            position: relative;
            height: 0px;
            width: 0px;
            border-style: solid solid solid none;
            border-color: transparent;
            border-radius: 8px;
            transition: border-right-color 100ms;
            transform-origin: center left;
            // animation: 1200ms ease-in-out 0s infinite alternate swim;
            // @keyframes swim {
            //     from { transform: perspective(20cm) rotateY(-20deg); }
            //     to { transform: perspective(20cm) rotateY(20deg); }
            // }
            animation: 1200ms ease-in-out 0s infinite alternate tail-swim;
            @keyframes tail-swim {
                from { transform: rotate(-2deg) perspective(20cm) rotateY(20deg); }
                to { transform: rotate(2deg) perspective(20cm) rotateY(-20deg); }
            }

            &.purple { border-right-color: hsl(277, 38%, 79%); }
            &.orange { border-right-color: hsl(30, 72%, 65%); }
            &.blue { border-right-color: hsl(218, 53%, 63%); }
            &.yellow { border-right-color: hsl(54, 75%, 60%); }
            &.red { border-right-color: hsl(1, 75%, 75%); }
        }
    }

    .story-content {
        background-color: #d1e4f0;
        position: relative;
        flex-grow: 1;
        min-width: 775px;
        max-width: 950px;
        margin-left: 8px;
        pointer-events: auto;
        padding: 16px;

        h2 { margin-top: 0px; }

        transform-origin: 0 0;
        transform: scale(1, 1);
        opacity: 1;
        transition: transform 300ms, opacity 300ms;
        &.invisible {
            transform: scale(1, 0);
            opacity: 0;
        }

        &.purple .comment-body { border-left-color: hsl(267, 100%, 75%); }
        &.orange .comment-body { border-left-color: hsl(30, 100%, 65%); }
        &.blue .comment-body { border-left-color: hsl(218, 100%, 63%); }
        &.yellow .comment-body { border-left-color: hsl(54, 100%, 60%); }
        &.red .comment-body { border-left-color: hsl(1, 100%, 75%); }

        &.purple .loading-spinner { color: hsl(267, 100%, 75%); }
        &.orange .loading-spinner { color: hsl(30, 100%, 65%); }
        &.blue .loading-spinner { color: hsl(218, 100%, 63%); }
        &.yellow .loading-spinner { color: hsl(54, 100%, 60%); }
        &.red .loading-spinner { color: hsl(1, 100%, 75%); }
    }
}

@media(max-width: 1180px) {
    .fish-tank.active {
        flex-direction: column;
        min-width: 355px;
        align-items: center;

        .story-content {
            flex-grow: 1;
            width: 100%;
            min-width: unset;
            margin: 0px;
            margin-top: 8px;
        }
    }
}
