#HNFE {
    overflow: hidden;
    // background-color: #27624185;
    // background-color: #a4cad7;
    background-color: red;
}

#ocean {
    position: relative;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background: radial-gradient(
        ellipse at 40% -175%,
        hsl(53deg, 100%, 95%),
        hsl(208, 70%, 72%)
    );
}

.invisible {
    opacity: 0;
}
