#hn-fish header {
    // background-color: #07314af2;
    background-color: #123b54;
    position: relative;
    z-index: 900;
    height: 35px;

    h1 {
        margin: 0px;
        padding: 4px;
        font-size: 1.35em;
        color: #c4dbe7;
    }
}