* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { color: #333; }

a {
	text-decoration: none;
	color: #333;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;

}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #5c5c5c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4f4f4f;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #00000026;
}

::-webkit-scrollbar-corner {
    background: #0000;
}
