* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#HNFE {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: #27624185;
}

a {
	text-decoration: none;
	color: #333;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.fish {
    position: relative;
    width: 350px;
    pointer-events: auto;
    height: fit-content;
}

.fish-tank {
    display: flex;
    pointer-events: none;
    position: absolute;
    width: fit-content;

    &.active {
        z-index: 500;
    }
}

.story-content {
    background-color: white;
    position: relative;
    height: calc(100vh - 8px);
    min-width: 400px;
    max-width: 1000px;
    margin: 8px;
    margin-left: 16px;
    pointer-events: auto;
}
