body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#HNFE {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.fish {
    position: absolute;
    width: 300px;
}
