* { box-sizing: border-box; }

body {
	text-align: center;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #ddd;
    margin: 0px;
    overflow: hidden;
}

div#container {
	margin: 0px auto;
    background-color: white;
}

.loading-spinner {
	width: 50px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-color: #555;
}

header {
	background-color: #333;
	margin-bottom: 1px;
	padding: 3px;
}

h1, header span {
    display: inline;
    /* This is the original "color" value. Leaving it
    here in case I change my mind about the new color */
    /* color: #45bf2a; */
    color: #82e467;
    font-weight: normal;
    margin: 0px 4px;
}

h1 { font-size: 1.5em; }

header span { color: #c9dec3; }
header span:hover { cursor: pointer; text-decoration: underline; }
header span.active { text-decoration: underline; }

h3 { color: #333; }

h2 { font-size: 1.3em; }

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: row;
	padding-left: 1px;
    overflow-y: auto;
}

.stories {
    overflow-y: scroll;
    max-width: 1800px;
	/* min-width: 400px;		Need to change this for different screen sizes */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 45;

    .story-info {
        border: 2px solid #333;
        padding: 15px;
        padding-top: 0px;
        margin: 3px;
        width: 100%;
        flex-grow: 1;
        background-color: #e6e6e6;
        transition: background-color 100ms;
        transition-timing-function: ease-out;

        &:hover {
            background-color: #c9dec3/*  white */;
            cursor: pointer;
        }
        &.active {
            /* background-color: #46c02a88; */
            background-color: #c9dec3;
        }        
    }
}

.story-info h3 {
	padding-bottom: 0px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

.story-info span {
	margin-top: 0px;
	font-size: 0.8em;
	color: #454545;
}

.story-content {
	box-sizing: border-box;
	margin-left: 5px;
	margin-bottom: 3px;
	padding: 10px;
    width: 71%;
    transition: width 250ms, padding 250ms, margin 250ms;
    transition-timing-function: ease-in-out;
    overflow-y: scroll;
}
.story-content.display-none {
    width: 0px;
    margin: 0px;
    padding: 0px;
}

.story-content .story-text {
	margin-top: 30px;
	margin-bottom: 60px;
}

.comments h2 {
	margin-bottom: -5px;
}

.comment {
	text-align: left;
	margin-top: 20px;

	.comment-header {
		margin: 5px 0px;

		span {
			margin: 0px 3px 0px 3px;

			&.timestamp {
				font-weight: normal;
				font-size: 0.8em;
				color: #454545;
			}
		}

		.arrow {
			font-size: 12px;
			&:hover { cursor: pointer; }
		}
	}
}

.comment-body {
    margin-left: 15px;
    margin-top: 8px;
	border-left: 4px dashed #c9dec3;
	padding-left: 10px;
    /* padding-top: 10px; */
    /* border-top: 3px dashed #c9dec3; */
}

footer {
	background-color: #333;
	color: #45bf2a;
	margin: 0px;
	padding: 20px;
}

footer a {
	color: #45bf2a;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}