.carousel {
    h2 {
        margin-top: 1.5em;
        margin-bottom: 0.1em;
        margin-left: 2.4em;
        text-align: left;
    }

    .progress-indicator {
        width: 100px;
        height: 4px;
        position: absolute;
        right: 0%;
        margin: 0px 4%;
        background-color: #444;
        border-radius: 3px;
        overflow: hidden;
        div {
            height: 100%;
            background-color: #d7040f9c;
            border-radius: 3px;
            transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
        }
    }

    .viewport {
        width: 100%;
        position: relative;
        overflow: hidden;
        // border: 1px solid green;

        .item-container {
            margin-top: 4px;
            transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
            transition-timing-function: ease-in-out;
            // border: 1px solid red;
        }
    }
}

button {
    position: absolute;
    width: 4%;
    min-width: 40px;
    height: calc(100% - 6px);
    z-index: 3;
    // background-color: #14141480;
    border: none;
    font-size: 2.5em;
    color: #ddd;
    margin: 3px 0px;
    opacity: 0;
    transition: opacity 200ms;
    top: 2px;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    &.left {
        // background-color: lightcoral;
        background: linear-gradient(0.25turn, #11111199, #54545400);
        left: 0;
    }
    &.right {
        // background-color: lightcoral;
        background: linear-gradient(0.25turn, #54545400, #11111199);
        right: 0;
    }
}
