$text-color: #eee;

#hn-and-chill {
    .story-card {
        &.expanded {
            position: absolute;
            justify-self: stretch;
            margin: 0px;
            // box-shadow: -2px 2px 1px 1px #91030a80;
            box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
            transform-origin: top left;
            top: 0;
            left: 0;

            .story-summary {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .story-details {
                padding: 1em;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #222;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                > * {
                    display: flex;
                    justify-content: space-between;
                }
                // border: 1px solid yellow;
            }
        }
    }
}
