$text-color: #eee;
// hsl(5deg, 85%, 61%);
body {
    background-color: #111;
}
* {
    // color: rgb(92, 234, 32);
    color: $text-color;
}

header {
    // height: 2em;
    background-color: #333;
    padding: 0.75em 3.1em;
    box-shadow: -2px 3px 3px #333333;
    h1 {
        font-size: 1.5em;
        text-align: left;
        margin: 0px;
        color: #d7040f;
    }
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 2.4em;
    text-align: left;
}
.carousel-viewport {
    width: 100vw;
    position: relative;
    overflow: hidden;
    // border: 1px solid green;
}

.story-container {
    display: flex;
    transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    transition-timing-function: ease-in-out;
    // border: 1px solid red;

    .story-info {
        border-radius: 5px;
        width: 22vw;
        height: 11vw;
        min-width: 250px;
        min-height: 137px;
        max-width: 350px;
        max-height: 192px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #333;
        box-shadow: -2px 2px 1px #91030a80;
        // box-shadow: -2px 2px 1px #91030a80, 2px -2px 1px #91030a80;
        margin: 0.8vw;
        // border: 1px solid blue;
        a,
        h3 {
            // color: rgb(92, 234, 32);
            color: $text-color;
            font-size: 1.05em;
        }
        &:hover {
            background-color: #333;
        }
    }
}

button {
    position: absolute;
    width: 4%;
    // max-width: 2.8em;
    height: calc(100% - 6px);
    z-index: 3;
    // background-color: #14141480;
    border: none;
    font-size: 2.5em;
    color: #ddd;
    margin: 3px 0px;
    opacity: 0;
    &:hover {
        opacity: 1;
        transition: opacity 100ms;
    }
    &.left {
        background: linear-gradient(0.25turn, #11111199, #54545400);
    }
    &.right {
        background: linear-gradient(0.25turn, #54545400, #11111199);
    }
}
