#hn-and-chill .story-preview {
    width: 100%;
    height: 70vw;
    position: relative;
    top: -53px; // this is the header height, needs to be done better eventually
    display: flex;
    flex-direction: column;

    .content {
        position: relative;
        height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 1rem;
    }

    .comment-and-stick-figure {
        height: 86%;
        position: absolute;
        transition: transform 5000ms ease, opacity 5000ms ease;

        .comment-fill {
            opacity: 0;
            transition: transform 5000ms ease, opacity 5000ms ease;
            transform: scale(0.75) translate(7%, 17%);
        }

        .comment-outline {
            transform: scale(0.75) translate(7%, 17%);
            transition: transform 5000ms ease, opacity 5000ms ease;
        }
        .comment-text {
            opacity: 0;
            transition: transform 5000ms ease, opacity 5000ms ease;
            transform: scale(0.75) translate(8%, 18%);
            &.flip {
                transform: scale(-0.75, 0.75) translate(7%, 17%);
            }
        }

        &.featured {
            z-index: 7;
            .comment-fill {
                opacity: 1;
                transform: scale(1);
            }
            .comment-outline {
                transform: scale(1);
            }
            .comment-text {
                opacity: 1;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                font-size: 1.3rem;
                color: black;
                transform: scale(1);
                &.flip {
                    transform: scale(-1, 1);
                }
            }
        }
    }

    .gradient-overlay {
        background-image: /* linear-gradient(
                77deg,
                rgba(0, 0, 0, 0.6),
                transparent 85%
            ), */ linear-gradient(
            180deg,
            hsla(0, 0%, 8%, 0) 0,
            hsla(0, 0%, 8%, 0.15) 15%,
            hsla(0, 0%, 8%, 0.35) 29%,
            hsla(0, 0%, 8%, 0.58) 44%,
            #141414 70%,
            #141414
        );
        // position: absolute;
        // bottom: 0%;
        width: 100%;
        height: 30vh; // this value needs to be tweaked
    }

    .story-summary {
        background-color: transparent;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        width: 40%;
        margin: 1rem;
        font-size: 1.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .comment-container {
        width: 100%;
        height: 100%;
        // background-color: #333;
        position: relative;
        overflow: hidden;
    }

    .comment {
        margin: 0px;
        position: absolute;
        width: 60%;
        top: 20%;
        right: 0%;
        font-size: 1.3em;
    }
}
