$text-color: #eee;

#hn-and-chill {
    .story-card {
        border-radius: 5px;
        // box-shadow: -2px 2px 1px 1px #91030a;
        margin: 0.5vw;
        display: flex;
        flex-direction: column;
        // border: 3px solid green;

        .story-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            margin: 0px;
            border-radius: 5px;
            height: 11vw;

            &:hover {
                border: none;
            }

            a,
            h3 {
                color: $text-color;
                font-size: 1.05em;
            }
        }
    }
}
